.footer {
  padding: 15rem 10rem;
  display: flex;
  gap: 3.2rem;
  position: relative;

  &-gradient {
    position: absolute;
    bottom: -3rem;
    right: 0;
    width: 700px;
    height: 500px;
    z-index: -1000;
    background: radial-gradient(
        ellipse at 60% 120%,
        rgba(185, 255, 130, 0.6) 0%,
        rgba(130, 187, 255, 0) 70%
      ),
      radial-gradient(
        ellipse at 100% 60%,
        rgba(130, 187, 255, 0.6) 0%,
        rgba(130, 187, 255, 0) 70%
      );

    filter: blur(50px);
    pointer-events: none;
  }

  &__left {
    width: 40%;
    padding-right: 12rem;
    position: relative;
    .social-icons {
      color: $color-black;
      display: flex;
      gap: 2.4rem;
      cursor: pointer;
      transition: all 0.2s ease-out;

      & svg:hover {
        color: $color-primary;
      }
    }

    p {
      margin: 1.2rem 0 2.4rem;
    }
  }

  &__right {
    width: 57%;
  }

  &__parts {
    display: flex;
    gap: 3.2rem;
  }

  &__part {
    width: 17rem;
    height: 19rem;
    h4 {
      padding-bottom: 2.4rem;
    }

    &-contact {
      width: auto;
    }

    &-links {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;
    }

    &-link {
      cursor: pointer;
      transition: all 0.2s ease-out;

      &:hover {
        color: $color-primary;
      }
    }
  }
}


@media(max-width: 946px){
  .footer{
    padding: 15rem 5rem;
    &__left{
      width: 60%;
      padding-right: 0;
    }
    &__right{
      width: 40%;
    }

    &__parts{
      display: flex;
      flex-direction: column;
    }
  }
}