.header {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  width: 100%;

  &__logo {
    width: 100px;
    height: auto;
    margin-left: 7rem;
  }


}
