.btn {
  &--green {
    @include button(
      $bg-color: $color-primary,
      $text-color: $color-white,
      $height: 4.8rem,
      $width: 15rem
    );
    font-size: 1.4rem;
    font-weight: 600;
    background: $color-primary;
    border: 1px solid $color-primary;
    border-radius: 5rem;
    color: $color-white;
    transition: background-color 0.6s ease, border-color 0.6s ease, color 0.6s ease;

    &__contact-now{
      margin-left: 7rem;
      @include button(
      $bg-color: $color-primary,
      $text-color: $color-white,
      $height: 4.8rem,
      $width: 17rem
    );
    }

    &:hover {
      background: linear-gradient(45deg, $color-primary-light, $color-primary, $color-primary-dark);
      background-size: 400% 400%;
      color: $color-black;
      border-color: $color-primary-dark;
    }
  }

  &--text {
    padding: 0 1rem;
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
