.subtitle {
  display: flex;
  align-items: center;
  color: $color-secondary;

  &::before {
    content: "";
    width: 3.2rem;
    height: 1px;
    background-color: $color-secondary;
    margin-right: 0.8rem;
  }
}

.subtitle-above {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $color-secondary;

  &::before {
    content: "";
    width: 3.2rem;
    height: 1px;
    background-color: $color-secondary;
    margin-bottom: 0.8rem;
  }
}

@media (max-width: 768px) {
  .subtitle{
    margin-left: 5rem;
  }
}